annotated-types==0.7.0
boto3==1.35.40
botocore==1.35.40
botocore-stubs==1.35.40
cfgv==3.4.0
distlib==0.3.9
filelock==3.16.1
identify==2.6.1
jmespath==1.0.1
nodeenv==1.9.1
platformdirs==4.3.6
pre_commit==4.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
s3transfer==0.10.3
six==1.16.0
types-awscrt==0.22.0
types-s3transfer==0.10.3
typing_extensions==4.12.2
urllib3==1.26.20
virtualenv==20.26.6
