{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Main Content -->
<main class="flex-grow-1 py-5" aria-label="Conteúdo Principal">
    <div class="container">
        <section class="highlight-section d-flex flex-column flex-lg-row align-items-center justify-content-between p-4 p-md-5 rounded shadow-sm mb-5" aria-labelledby="hero-title">
            <div class="me-lg-5 mb-4 mb-lg-0 text-center text-lg-start">
                <h2 id="hero-title" class="mb-3">Conecte-se e Faça a Diferença</h2>
                <p class="mb-4">Com o Conexão Solidária, você pode ajudar instituições e fazer parte de uma
                    comunidade solidária. Contribua e faça a diferença na vida de muitos.</p>
                <a href="{% url 'institutions' %}" class="btn btn-primary btn-lg" aria-label="Ir para a lista de instituições">Conheça as instituições</a>
            </div>

            <!-- Home image -->
            <img src="{% static 'img/home.png' %}" alt="Ilustração abstrata representando conexões e doações" class="img-fluid hero-image"
                style="max-width: 400px; width: 100%; height: auto;">
        </section>

        <section class="institutions-list row g-4" aria-label="Lista de Instituições em Destaque">
            {% for institution in page_obj %}
            <div class="col-12 col-md-6 col-lg-4">
                <article class="institution-card h-100 d-flex flex-column">
                    <h3>{{ institution.name }}</h3>
                    <p class="flex-grow-1">{{ institution.description }}</p>
                </article>
            </div>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock content %}
