body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.conteiner-formulario {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.btn-outline-primary {
    padding: 10px 20px;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-carro {
    width: 300px;
    height: 380px;
    margin: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-carro:hover {
    transform: scale(1.05);
}

.institution-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.container-carro p {
    margin: 5px 0;
    color: #666;
}

.button-container {
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-item .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 0 3px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.pagination .page-item .page-link:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.1);
}

.pagination .page-item.disabled .page-link {
    color: #777;
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    .conteudo-principal {
        flex-direction: column;
        align-items: center;
    }

    .container-carro {
        width: 90%;
    }
}
