# Substitua os valores abaixo pelos correspondentes da sua conta AWS e infraestrutura
AWS_ACCOUNT_ID=123456789012
ALARM_EMAIL=admin@example.com
POWERTOOLS_SERVICE_NAME=conexao-solidaria-serverless
LOG_LEVEL=INFO
