SECRET_KEY="<gere-uma-chave-segura>"
DEBUG=False

GET_INSTITUTIONS="https://<cloudfront-domain>/api/v1/institutions"
GET_INSTITUTION="https://<cloudfront-domain>/api/v1/institutions/{cnpj}"
GET_INSTITUTIONS_BY_STATE="https://<cloudfront-domain>/api/v1/institutions/query?state={state}"
GET_INSTITUTIONS_BY_REGION="https://<cloudfront-domain>/api/v1/institutions/query?region={region}"

# Chatbot Backend (Serverless)
CHATBOT_API_URL="https://<chatbot-api-url>"
