S3_BUCKET_NAME=<seu-bucket>
BOT_ID=<seu-bot-id>
ALIAS_ID=<seu-alias-id>
LOCALE_ID=pt_BR

# External API Integration
BASE_URL=<aws-api-gateway-url>
POST_INSTITUTIONS=/api/v1/institutions
POST_BEDROCK=/api/v1/bedrock
INSTITUTIONS_BASE_URL=http://127.0.0.1:8000/institutions
BASE_VIA_CEP=https://viacep.com.br/ws/
REKOGNITION_ENDPOINT=<aws-api-gateway-url>/api/v1/scan
